<html xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="js">
    <!-- morris.js -->
    <script th:src="@{/gentelella-master/vendors/raphael/raphael.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/morris.js/morris.min.js}"></script>
    <!-- jQuery -->
    <script th:src="@{/gentelella-master/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/gentelella-master/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/gentelella-master/vendors/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/gentelella-master/vendors/nprogress/nprogress.js}"></script>
    <!-- Chart.js -->
    <script th:src="@{/gentelella-master/vendors/Chart.js/dist/Chart.min.js}"></script>
    <!-- gauge.js -->
    <script th:src="@{/gentelella-master/vendors/gauge.js/dist/gauge.min.js}"></script>
    <!-- bootstrap-progressbar -->
    <script th:src="@{/gentelella-master/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
    <!-- iCheck -->
    <script th:src="@{/gentelella-master/vendors/iCheck/icheck.min.js}"></script>
    <!-- Skycons -->
    <script th:src="@{/gentelella-master/vendors/skycons/skycons.js}"></script>
    <!-- Flot -->
    <script th:src="@{/gentelella-master/vendors/Flot/jquery.flot.js}"></script>
    <script th:src="@{/gentelella-master/vendors/Flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/gentelella-master/vendors/Flot/jquery.flot.time.js}"></script>
    <script th:src="@{/gentelella-master/vendors/Flot/jquery.flot.stack.js}"></script>
    <script th:src="@{/gentelella-master/vendors/Flot/jquery.flot.resize.js}"></script>
    <!-- Flot plugins -->
    <script th:src="@{/gentelella-master/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
    <script th:src="@{/gentelella-master/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/flot.curvedlines/curvedLines.js}"></script>
    <!-- DateJS -->
    <script th:src="@{/gentelella-master/vendors/DateJS/build/date.js}"></script>
    <!-- JQVMap -->
    <script th:src="@{/gentelella-master/vendors/jqvmap/dist/jquery.vmap.js}"></script>
    <script th:src="@{/gentelella-master/vendors/jqvmap/dist/maps/jquery.vmap.world.js}"></script>
    <script th:src="@{/gentelella-master/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script>
    <!-- bootstrap-daterangepicker -->
    <script th:src="@{/gentelella-master/vendors/moment/min/moment.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>

    <!-- Custom Theme Scripts -->
    <script th:src="@{/gentelella-master/build/js/custom.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/gauge.js/dist/gauge.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/echarts/dist/echarts.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/echarts/map/js/world.js}"></script>
    <!-- Datatables -->
    <script th:src="@{/gentelella-master/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/gentelella-master/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/jszip/dist/jszip.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/gentelella-master/vendors/pdfmake/build/vfs_fonts.js}"></script>

</th:block>
</html>