<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="Fragment/_head.html::head"></th:block>
</head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <th:block th:replace="Fragment/_leftcolAdmin.html::leftcolAdmin"></th:block>
        </div>
        <!-- top navigation -->
          <th:block th:replace="Fragment/_topnav.html::topnav"></th:block>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Profil Chambre</h3>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 _msthash="2342392" _msttexthash="2543034">INFO Etudiant <small _istranslated="1">Edition de ses informations</small></h2>
                    <ul class="nav navbar-right panel_toolbox" _msthidden="2">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown" _msthidden="2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"><font _mstmutation="1">Date </font><span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="date" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                          <script>
                            function timeFunctionLong(input) {
                              setTimeout(function() {
                                input.type = 'text';
                              }, 60000);
                            }
                          </script>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="conso-reau"><font _mstmutation="1" _msthash="520858" _msttexthash="93574">Consommation eau </font><span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="number" id="conso-reau" required="required" class="form-control ">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="conso-elec"><font _mstmutation="1" _msthash="521105" _msttexthash="31395">Consommation électrique </font><span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="number" id="conso-elec" name="conso-elec" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="conso-elec"><font _mstmutation="1" _msthash="521105" _msttexthash="31395">Montant a payé </font><span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="number" id="paiment" name="paiment" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label for="info-number" class="col-form-label col-md-3 col-sm-3 label-align" _msthash="521352" _msttexthash="596518">Num_chambre</font><span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 ">
                          <input id="info_number" class="form-control" type="text" name="info-number" value="001" disabled>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"><font _mstmutation="1">Date de Délai de paiement </font><span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="date" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                          <script>
                            function timeFunctionLong(input) {
                              setTimeout(function() {
                                input.type = 'text';
                              }, 60000);
                            }
                          </script>
                        </div>
                      </div>
               
                      <div class="ln_solid"></div>
                      <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                          <a href="profile3.html"><button class="btn btn-primary" type="button" _msthash="802789" _msttexthash="95901">Annuler</button></a>
                          <button class="btn btn-primary" type="reset" _msthash="802971" _msttexthash="335517">Réinitialisation</button>
                          <button type="submit" class="btn btn-success" _msthash="803153" _msttexthash="98280">Envoyer</button>
                        </div>
                      </div>
  
                    </form>
                  </div>
                </div>
              </div> 
                      <!-- end of user-activity-graph -->
                </div>
              </div>
            </div>
			</div>     
        </div>
        <!-- /page content -->

      
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
   <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- morris.js -->
    <script src="../vendors/raphael/raphael.min.js"></script>
    <script src="../vendors/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<script src="../vendors/gauge.js/dist/gauge.min.js"></script>
<script src="../vendors/echarts/dist/echarts.min.js"></script>
<script src="../vendors/echarts/map/js/world.js"></script>
  </body>
</html>