<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragment/_head.html::head"></th:block>
</head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <th:block th:replace="Fragment/_leftcolAdmin.html::leftcolAdmin"></th:block>
        </div>

        <!-- top navigation -->
        <th:block th:replace="Fragment/_topnav.html::topnav"></th:block>
        <!-- /top navigation -->
        <!-- ======= Hero Section ======= -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><strong >Gestion Des Paiements</strong></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                </div>
              </div>
            </div>

              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  
                   <div class="x_content">
                      <div class="row">
                           
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th >N° de chambre</th>
                          <th>Nombre de Resident(s)</th>
                          <th>Nom des Residents</th>
                          <th>Date de Paiement</th>
                          <th>Montant</th>
                          <th>N° tel</th>
                          <th>E-mail</th>
                          <th>Statut</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>001</td>
                          <td><img th:src="@{/images/user.png}" class="avatar" alt="Avatar"></td>
                          <td>nixon mballa</td>
                          
                          <td>2011/04/25</td>
                          <td>3000 FRS CFA</td>
                          <td>699-638-657</td>
                          <td>t.nixon@datatables.net</td>
                          <td><strong>Impayer</strong></td>
                        </tr>
                        <tr>
                          <td>002</td>
                          <td><img th:src="@{/images/user.png}" class="avatar" alt="Avatar">
                            <img th:src="@{/images/user.png}" class="avatar" alt="Avatar">
                          </td>
                          <td>nick mbilla<br>sonia tonfack</td>
                          
                          <td>2011/04/25</td>
                          <td>300FRS CFA</td>
                          <td>699-638-657</td>
                          <td>t.nixon@datatables.net<br>s.sonia@yahoo.net</td>
                          <td><strong>Payer</strong></td>
                        </tr>
                       

                      </tbody>
                    </table>
					
					
                  </div>
                </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

       
      </div>
    </div>

    <th:block th:replace="Fragment/_js.html::js"></th:block>

  </body>
</html>