<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="Fragment/_head.html::head"></th:block>
</head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
        <th:block th:replace="Fragment/_leftcolAdmin.html::leftcolAdmin"></th:block>
        </div>
        <!-- top navigation -->
        <th:block th:replace="Fragment/_topnav.html::topnav"></th:block>
        <!-- /top navigation -->
        <!-- ======= Hero Section ======= -->
        
       
        
        <!-- page content -->
       
        <div  id="hero" class="pull-right" role="main"  >
          <!-- top tiles -->
          <div class="right_col" style="height: 513px;" >
            <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
              <h1>Bienvenue ADMINISTRATEUR </h1>
            
              <h2>Gerer le fonctionnement de votre CITE</h2>
              <a href="gestion_des_paiements.html" class="btn-get-started scrollto">Allons-y</a>
            </div>
          </div><!-- End Hero -->
          <!-- /top tiles -->

          <br />

          <br />
        </div>
     
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <br />
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>


    <th:block th:replace="Fragment/_js.html::js"></th:block>
  </body>
</html>
