<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="Fragment/_head.html::head"></th:block>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <th:block th:replace="Fragment/_leftcolAdmin.html::leftcolAdmin"></th:block>
        </div>

        <!-- top navigation -->
        <th:block th:replace="Fragment/_topnav.html::topnav"></th:block>
        <!-- /top navigation -->
        <!-- ======= Hero Section ======= -->
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Profil Chambre</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 _msthash="2342392" _msttexthash="2543034">INFO Etudiant <small _istranslated="1">Edition de ses informations</small></h2>
                    <ul class="nav navbar-right panel_toolbox" _msthidden="2">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown" _msthidden="2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu" _msthidden="2">
                          <li _msthidden="1"><a class="dropdown-item" href="#" _msthash="3908437" _msttexthash="126776" _msthidden="1">Settings 1</a>
                          </li>
                          <li _msthidden="1"><a class="dropdown-item" href="#" _msthash="3908619" _msttexthash="126971" _msthidden="1">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
  
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name"><font _mstmutation="1" _msthash="520858" _msttexthash="93574">Prénom </font><span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="text" id="first-name" required="required" class="form-control ">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name"><font _mstmutation="1" _msthash="521105" _msttexthash="31395">Nom </font><span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="text" id="last-name" name="last-name" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label for="email" class="col-form-label col-md-3 col-sm-3 label-align" _msthash="521352" _msttexthash="596518">Mail</font><span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 ">
                          <input id="email" class="form-control" type="email" name="email">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label for="info-number" class="col-form-label col-md-3 col-sm-3 label-align" _msthash="521352" _msttexthash="596518">Num_chambre</font><span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 ">
                          <input id="info_number" class="form-control" type="text" name="info-number" value="001" disabled>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" _msthash="521599" _msttexthash="59098">Genre</label>
                        <div class="col-md-6 col-sm-6 ">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="gender" value="male" class="join-btn" data-parsley-multiple="gender"><font _mstmutation="1" _msthash="235937" _msttexthash="56277"> Mâle </font></label>
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="gender" value="female" class="join-btn" data-parsley-multiple="gender"><font _mstmutation="1" _msthash="236106" _msttexthash="92118"> Femelle </font></label>
                          </div>
                        </div>
                      </div>
               
                      <div class="ln_solid"></div>
                      <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                         <a href="profile2.html"><button class="btn btn-primary" type="button" _msthash="802789" _msttexthash="95901">Annuler</button></a>
                          <button class="btn btn-primary" type="reset" _msthash="802971" _msttexthash="335517">Réinitialisation</button>
                          <button type="submit" class="btn btn-success" _msthash="803153" _msttexthash="98280">Envoyer</button>
                        </div>
                      </div>
  
                    </form>
                  </div>
                </div>
              </div> 
              <div class="x_panel tile fixed_height_320" style="
              width: 536px;
              left: 10px;
              height: 420px;
          ">
                          <div class="x_title">
                            <h2 _msthash="1929369" _msttexthash="372489">Consommation en EAU</h2>
                        
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <div class="dashboard-widget-content">
                              <ul class="quick-list">
                                <br>
                                <br>
                                <br>
                                  <li style="font-size:18px">le montant de l'utilisateur <br>est:<span style="font-weight:800">1000 </span>FRS CFA
                                </li>
                                
                              </ul>
          
                              <div class="sidebar-widget" style="
    width: 271px;
">
                                  <h4 _msthash="2802371" _msttexthash="404898"></h4>
                                  <canvas width="453" height="243" id="chart_gauge_01" class="" style="position:relative; right:50px;width: 363px; height: 195px;"></canvas>
                                  <div class="goal-wrapper">
                                    <span id="gauge-text" class="gauge-value pull-left" _msthash="153517" _msttexthash="28171">0</span>
                                    <span class="gauge-value pull-left">%</span>
                                    <span id="goal-text" class="goal-value pull-right" _msthash="132366" _msttexthash="19877">100%</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="x_panel tile fixed_height_320" style="
                        width: 536px;
                        left: 188px;
                        height: 420px;
                    ">
                                  
                          <div class="x_title">
                            <h2 _msthash="1929369" _msttexthash="372489">Consommation Electrique</h2>
                        
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <ul class="quick-list" style="position:absolute ;">
                              <br>
                              
                        
                                <li style="font-size:18px">le montant de l'utilisateur <br>est:<span style="font-weight:800">1000 </span>FRS CFA
                              </li>
                              
                            </ul>
                            <div id="echart_gauge" style="height: 370px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background-color: transparent;" _echarts_instance_="ec_1648668807869"><div style="position: relative; overflow: hidden; width: 494px; height: 370px; cursor: default;"><canvas width="617" height="462" data-zr-dom-id="zr_0" style="position: absolute; left: 80%; top: 0px; width: 494px; height: 370px; user-select: none; "></canvas></div></div></div></div>
                          </div>
                                  </div>
                      <!-- end of user-activity-graph -->
							
                </div>
                
              </div>
            <a href="EditerConsommation.html"><button type="button" class="btn btn-success btn-lg" style="position: relative;left: 40%; bottom:10%; margin-top:50px;margin-bottom:50px;">Editer la Consommation</button></a>
            </div>
			</div>     
        </div>
        <!-- /page content -->

 <!-- ======= Footer ======= -->
 
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
   <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- morris.js -->
    <script src="../vendors/raphael/raphael.min.js"></script>
    <script src="../vendors/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<script src="../vendors/gauge.js/dist/gauge.min.js"></script>
<script src="../vendors/echarts/dist/echarts.min.js"></script>
<script src="../vendors/echarts/map/js/world.js"></script>
  </body>
</html>